In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import StratifiedKFold

## Read data

In [2]:
df = pd.read_csv('../data/heart.csv')

df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
293,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
294,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
295,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
296,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0

## Stratification by target

In [3]:
skf = StratifiedKFold(
    n_splits=5, 
    shuffle=True, 
    random_state=42
)

folds = list(skf.split(df, df['target']))

In [5]:
for idx, f in enumerate(folds):
    print(f"Fold {idx}")
    print(f'Train len: {len(f[0])}\nTest len: {len(f[1])}')
    print('Target distribution')
    print('Train : ')
    print(df.iloc[f[0]].target.value_counts(normalize=True))
    print('Test : ')
    print(df.iloc[f[1]].target.value_counts(normalize=True))

Fold 0
Train len: 237
Test len: 60
Target distribution
Train :
1    0.544304
0    0.455696
Name: target, dtype: float64
Test :
1    0.55
0    0.45
Name: target, dtype: float64
Fold 1
Train len: 237
Test len: 60
Target distribution
Train :
1    0.544304
0    0.455696
Name: target, dtype: float64
Test :
1    0.55
0    0.45
Name: target, dtype: float64
Fold 2
Train len: 238
Test len: 59
Target distribution
Train :
1    0.546218
0    0.453782
Name: target, dtype: float64
Test :
1    0.542373
0    0.457627
Name: target, dtype: float64
Fold 3
Train len: 238
Test len: 59
Target distribution
Train :
1    0.546218
0    0.453782
Name: target, dtype: float64
Test :
1    0.542373
0    0.457627
Name: target, dtype: float64
Fold 4
Train len: 238
Test len: 59
Target distribution
Train :
1    0.546218
0    0.453782
Name: target, dtype: float64
Test :
1    0.542373
0    0.457627
Name: target, dtype: float64

In [7]:
np.save('../data/5folds_bytarget.npy', folds)